.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust height as needed */
}

.swiperSlide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ensure images cover the area */
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .swiperSlideImg {
        max-width: 1000px; /* Adjust the maximum width for laptop screens */
        position: relative;
        left: 12%;
    }
}

@media (max-width: 1200px) {
    .swiperSlide img {
        max-width: 800px; /* Maximum width for medium screens */
        
        
    }
}

@media (max-width: 768px) {
    .swiperSlide img {
        max-width: 600px; /* Maximum width for small screens */
       
    }
}

@media (max-width: 480px) {
    .swiperSlide img {
        max-width: 400px; /* Maximum width for extra small screens */
       
    }
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff; /* Arrow color */
  background-color: rgba(0, 0, 0, 0.5); /* Background color */
  border-radius: 50%; /* Round shape */
  width: 40px; /* Width of the arrow button */
  height: 40px; /* Height of the arrow button */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Ensure they are on top of the slides */
}

.swiper-button-prev {
  left: 10px; /* Positioning */
}

.swiper-button-next {
  right: 10px; /* Positioning */
}
